protobuf
transformers==4.27.1
cpm_kernels
torch>=1.10
gradio
mdtex2html
sentencepiece
accelerate
Django==3.2.12
djangorestframework==3.12.4
requests==2.26.0
django-cors-headers==3.8.0
gunicorn==20.1.0
